doctype html
html.
	<head>

		<title> Team Litchfield </title>

		 <!-- load angular and angular route via CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

		<!-- Basic Angular App -->
		<script src="app.js"></script>

		<!-- Library Files -->
		<script type="text/javascript" src ="javascripts/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

		<!-- Styles -->
		<link rel='stylesheet' href='stylesheets/style.css'>
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
		<link rel="icon" href="images/favicon.ico">

		<!-- Ugly Metadata -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">


	</head> 
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Team Litchfield</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
					<ul class="nav navbar-nav" >
						<li>
							<a href="pages/about.html">About</a>
						</li>
						<li>
							<a href="pages/platform.html">Platform</a>
						</li>
						<li>
							<a href="pages/media.html">Media</a>
						</li>
						<li>
							<a href="pages/contacts.html">Contact</a>
						</li>
						<li>
							<a href="pages/blog.html">Blog</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>

		<div class = "container-full">
			<img class = "img-responsive" src= "images/cov3.jpg"  style = "max-width: 100%; height: auto; width:100%; " >
		</div>
		<br>

		<div class = "container">
			<h1>Meet The Slate</h1>
		</div>	

		<div class="container" >
		<hr class="featurette-divider" id="C1">
			<div class="featurette" >
				<div class = "col-md-6" >
					<h2 class="featurette-heading">Jack Litchfield </h2>
					<p class="lead">Year: Fourth
					Program: Honours Specialization Political Science <br>
					Past Involvement: Varsity Fencing, PSA Exec, CPSSA delegate, SSSC Councilor, University Affairs Standing Committee, SSSC/FIMSC Senator (voting), LTPB Standing Committee Chair, CPSSA Conference Director, SSSC President <br>
					First Year Residence: Saugeen Maitland Hall <br>
					Fun Fact: I am ambidextrous
					</p>
				</div>
				<div class = "col-md-6" >
					<img class="featurette-image img-circle img-responsive pull-right" src="http://i1378.photobucket.com/albums/ah93/HorseManly/DSC_9258Cropped_zps3749bbb6.jpg" width = "500">
				</div>
			</div>
		</div>
		<br>

		<div class="container" >
		<hr class="featurette-divider" id="C2">
		<br>
			<div class="featurette" >
				<div class = "col-md-6">
					<img class="featurette-image img-circle img-responsive pull-left" src="http://i1378.photobucket.com/albums/ah93/HorseManly/DSC_9261Cropped_zps04dae42f.jpg" width = "500" >
				</div>
				<div class = "col-md-6" >
					<h2 class="featurette-heading">Richard Sookraj</h2>
					<p class="lead">Year: 4 <br>
					Program: MIT and Political Science major <br>
					Involvements: VP External FIMSSC, Senator-at-Large, Municipal Affairs Commissioner, FIMS/Social Science Senator <br>
					First Year Residence: Perth <br>
					Fun Fact: Visited four countries in 2 weeks</p>
				</div>
			</div>
		</div>
		<br>

		<div class="container" >
		<hr class="featurette-divider" id="C3">
		<br>
			<div class="featurette" >
				<img class="featurette-image img-circle img-responsive pull-right" src="http://i1378.photobucket.com/albums/ah93/HorseManly/DSC_9276Cropped_zps75cf2d61.jpg" width = "500" >
				<h2 class="featurette-heading">Dilani Logan
				</h2>
				<p class="lead">Year: 4 <br>
				Program: Double Major in Medical Science and Spanish Language & Hispanic Cultures <br>
				Past Involvements: Science Students’ Council, Delaware Residence Council, Science Soph Team, Delaware Hall Soph Team, Alzheimer’s Western Club, Western Students for Partners in Health Canada <br>
				First Year Residence: Delaware Hall <br>
				Fun Fact: I’ve actually known Richard since high school, since we both went to the same one in Mississauga, Ontario
				</p>
			</div>
		</div>
		<br>

		<hr class="featurette-divider" id="C1">
		<div class = "container-full">
			<img class = "img-responsive" src= "images/b.jpg"  style = "max-width: 100%; height: auto; width:100%; max-height:50px;" >
		</div>

	
	</body>
